<!DOCTYPE html>
<head>
    <title> Dashboard | ClashRecruit </title>   
    <link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}">
</head>

<body style="background-color: rgb(191, 255, 234);" >
    
    <h1 style="text-align: center;" style="size: 100px;" > Dashboard </h1>
    <div class="container">
        <!-- this link is not going to be here ofc-->
        <a target="_blank" href="https://www.clashofstats.com/players/sheep-tiger-82GVQYRRL/summary"> 
        <button style="height: 50px;" id="user">
                <div class="box" style="text-align:center"> {{username}} </div> 
            </button>
        </a>
        

    </div>
        <p style="text-align:right; margin-right:20px;">
        Recruit Status: {{ recruit_status }}
            </p>
    <hr>
</body>

<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
