<!DOCTYPE html>
<head>
    <title> ClashRecruit </title>   

</head>

<body style="background-color: rgb(191, 255, 234);" >
    
    <h1 style="text-align: center;"> Clash Recruit <h1>
    <hr>
    
    <form id="dataForm" style="text-align: center;">
        
        <h4 style="text-align: center; margin-top: 100px; font-size: 25px;">Enter Player Tag:</h4>
        <input id = "playerTag">

        <h4 style="font-size: 25px;">Enter API Key:</h4>        
        <input id ="apiToken">

        <br>
        <input style="width: 100px; font-size: 20px ;" type="submit" value="Submit">
    </form>
    <p id="result"></p>

    
</body>

<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
